:root {
    --bx_shad: 3px 3px 8px rgba(0, 0, 0, 0.6);
    --light_shad: 3px 3px 8px rgba(228, 130, 50, 0.6);
    --dark_col: rgb(228, 130, 50);
    --light_col: black;
    --dark_txt: rgb(228, 130, 50);
    --light_txt: black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    white-space: nowrap;
}
body {
    background-color: white;
    color: var(--light_txt);
    font-family: Ubuntu;
    min-width: 375px;
}

.header_img {
    width: 100px;
    box-shadow: var(--bx_shad);
    border-radius: 10px;
    margin: 20px;
}
h1 {
    align-self: center;
    font-size: 60px;
    text-shadow: var(--bx_shad);
}
h2 {
    font-size: 30px;
    text-shadow: var(--bx_shad);
    padding: 3vh 0;
}
h3 {
    font-size: 24px;
    text-shadow: var(--bx_shad);
    padding: 1vh 0;
}
header {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: var(--light_col);
}
.navbar-dark .navbar-nav .nav-link {
    display: inline;
    transition: 120ms;
    border: none;
    border-radius: 20px;
    font-size: 30px;
    padding: 0 20px;
    color: white;
    transition: 0.5s;
}
.navbar-dark .navbar-nav .nav-link:hover:hover {
    border-radius: 20px;
    background-color: var(--dark_col);
    color: var(--light_txt);
}

.intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: linear-gradient(var(--light_col), var(--dark_col));
}
.intro_text {
    font-size: 24px;
    line-height: 40px;
    padding-left: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro_text h2 {
    padding: 2vw 0;
}

.intro_img {
    display: block;
    width: 300px;
    border: 3px solid var(--dark_txt);
    outline: 1px solid black;
    border-radius: 50%;
    margin-bottom: 40px;
}

.main_container {
    display: flex;
    flex-direction: column;
}
.project {
    position: relative;
    width: 100%;
    text-align: center;
    background: var(--light_col);
    color: var(--dark_txt);
    z-index: 2;
}
.project h3,
.project h2 {
    color: var(--dark_txt);
    text-shadow: var(--light_shad);
}

.project__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project__item {
    text-align: center;
    margin: 10px;
}
.project__item a {
    text-decoration: none;
    color: white;
}
.project__item:hover .project_img {
    cursor: pointer;
    border: 5px solid var(--dark_txt);
}
.project_img {
    max-width: 300px;
    box-shadow: var(--bx_shad);
    border: none;
    border-radius: 10px;
    transition: 160ms;
}
.project::before {
    content: '';
    position: absolute;
    top: -5px;
    right: -20px;
    width: 100px;
    height: 70px;
    background-color: var(--dark_col);
    z-index: -1;
}
.project::after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--light_col);
    z-index: -1;
}
.skills {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding-left: 10vw;
    background: var(--dark_col);
    z-index: 2;
    padding-top: 20px;
}
.skill__container {
    position: relative;
    height: 31px;
    width: 70%;
    border: 3px solid black;
    border-radius: 15px;
    margin-bottom: 6vw;
    background: black;
}

.skills:last-child {
    padding-bottom: 20px;
}
.skill_all {
    position: absolute;
    background: linear-gradient(to right, var(--light_col), var(--dark_col));

    height: 25px;
    border-radius: 10px;
}
.skill_all::before {
    position: absolute;
    content: '';
    top: -45px;
    left: -100px;
    height: 120px;
    width: 80px;
}
.skill_html {
    position: relative;
    width: 60%;
}
.skill_html::before {
    background-image: url(/img/html5-brands.svg);
    background-repeat: no-repeat;
}

.skill_css {
    width: 60%;
}
.skill_css::before {
    background-image: url(/img/css3-alt-brands.svg);
    background-repeat: no-repeat;
}
.skill_js {
    width: 10%;
}
.skill_js::before {
    background-image: url(/img/js-square-brands.svg);
    background-repeat: no-repeat;
}
.skill_react {
    width: 10%;
}
.skill_react::before {
    background-image: url(/img/react-brands.svg);
    background-repeat: no-repeat;
}
.skill_python {
    width: 40%;
}
.skill_python::before {
    background-image: url(/img/python-brands.svg);
    background-repeat: no-repeat;
}
.skill_sql {
    width: 20%;
}
.skill_sql::before {
    background-image: url(/img/sql-svgrepo-com.svg);
    background-repeat: no-repeat;
}
.skills::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--light_col);
    z-index: -1;
}
.skills::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--dark_col);
    z-index: -1;
}
.cuvi {
    width: 100%;
    background: linear-gradient(var(--light_col), var(--dark_col));
    color: white;
    padding-top: 20px;
}
.cuvi h2 {
    text-align: center;
    margin: 0;
    padding-top: 2vw;
}
.cv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2vh;
}
.cv_details {
    padding: 2vw 6vw;
}
.cv_details h2 {
}
.cv li {
    padding: 2vh 2vw;
    font-size: 20px;
}

footer {
    background: var(--dark_col);
    font-size: 16px;
    text-align: center;
    border-top: 1px solid black;
    padding: 10px;
}
.footer_nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
footer li {
    list-style-type: none;
}
footer a {
    display: block;
    padding: 1vw 2vw 1vw 0;
    color: white;
}
.contact {
    z-index: 100;
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: var(--dark_txt);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.contact:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    margin: 7vw auto;
    padding: 2vw;
    background: var(--light_col);
    border-radius: 5px;
    width: 30%;
    position: fixed;
    top: 100px;
    right: 600px;
    transition: all 5s ease-in-out;
}
.contact_details li {
    padding-left: 2vw;
    list-style-type: none;
    font-size: 24px;
}
.close {
    font-size: 48px;
    text-decoration: none;
    position: absolute;
    top: 0px;
    right: 10px;
}
@media (min-width: 900px) {
    .intro {
        flex-direction: row;
        justify-content: space-around;
    }
    .intro_img {
        width: 500px;
    }
    .main_container {
        flex-direction: row;
    }
    .cv {
        flex-direction: row;
    }
}
