:root {
    --bx_shad: 3px 3px 8px rgba(0, 0, 0, 0.6);
    --dark_col: rgb(116, 184, 136);
    --light_col: rgb(202, 226, 210);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    white-space: nowrap;
}
body {
    background-color: black;
    color: black;
    font-family: Ubuntu;
}

.header_img {
    width: 150px;
    box-shadow: var(--bx_shad);
    border-radius: 10px;
    margin: 20px;
}
h1 {
    align-self: center;
    font-size: 80px;
    text-shadow: var(--bx_shad);
}
h2 {
    font-size: 40px;
    text-shadow: var(--bx_shad);
    padding: 3vh 0;
}
h3 {
    font-size: 30px;
    text-shadow: var(--bx_shad);
    padding: 1vh 0;
}
header {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: var(--light_col);
}
.navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navi {
    align-self: center;
    display: flex;
}
.navi li {
    padding: 20px;
    list-style-type: none;
}
.navi a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-size: 40px;
    color: black;
    text-shadow: var(--bx_shad);
    transition: 1s;
    border: 1px solid rgba(0, 0, 0, 0);
}
.navi li a:hover {
    background-color: var(--dark_col);
    border: 1px solid black;
    border-radius: 10px;
}

.intro {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background: linear-gradient(var(--light_col), var(--dark_col));
}
.intro_text {
    font-size: 24px;
    line-height: 40px;
    padding-left: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro_text h2 {
    padding: 2vw 0;
}

.intro_img {
    width: 550px;
    margin-right: 60px;
    border: 1px solid black;
    border-radius: 50%;
}

.main_container {
    display: flex;
    flex-wrap: nowrap;
}
.project {
    position: relative;
    width: 50%;
    text-align: center;
    background: var(--light_col);
    z-index: 2;
}

.project__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project__item {
    text-align: center;
    margin: 10px;
}
.project__item a {
    text-decoration: none;
    color: black;
}
.project__item:hover .project_img {
    cursor: pointer;
    opacity: 60%;
    box-shadow: 5px 5px 5px var(--dark_col) inset;
}
.project_img {
    max-width: 300px;
    box-shadow: var(--bx_shad);
    border-radius: 10px;
    opacity: 100%;
    transition: box-shadow 2s ease-in-out, opacity 1s linear;
}
.project::before {
    content: '';
    position: absolute;
    top: -20px;
    right: -20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--dark_col);
    z-index: -1;
}
.project::after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--light_col);
    z-index: -1;
}
.skills {
    display: flex;
    width: 50%;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding-left: 10vw;
    background: var(--dark_col);
    z-index: 2;
}
.fa-html {
    font-size: 120px;
}
.skill__container {
    position: relative;
    height: 20px;
    width: 70%;
    border: 3px solid black;
    border-radius: 15px;
    margin-bottom: 6vw;
}

.skills:last-child {
    padding-bottom: 20px;
}
.skill__container p {
    padding-top: 0.6vw;
    padding-left: 1vw;
}
.skill_all {
    position: absolute;

    background: linear-gradient(to right, var(--dark_col), var(--light_col));

    height: 13px;
    border-radius: 10px;
    box-shadow: 0 0 20px
        linear-gradient(to right, var(--dark_col), var(--light_col));
}
.skill_all::before {
    position: absolute;
    content: '';
    top: -45px;
    left: -100px;
    height: 120px;
    width: 80px;
}
.skill_html {
    position: relative;
    width: 60%;
}
.skill_html::before {
    background-image: url(/img/html5-brands.svg);
    background-repeat: no-repeat;
}

.skill_css {
    width: 60%;
}
.skill_css::before {
    background-image: url(/img/css3-alt-brands.svg);
    background-repeat: no-repeat;
}
.skill_js {
    width: 10%;
}
.skill_js::before {
    background-image: url(/img/js-square-brands.svg);
    background-repeat: no-repeat;
}
.skill_react {
    width: 10%;
}
.skill_react::before {
    background-image: url(/img/react-brands.svg);
    background-repeat: no-repeat;
}
.skill_python {
    width: 40%;
}
.skill_python::before {
    background-image: url(/img/python-brands.svg);
    background-repeat: no-repeat;
}
.skill_sql {
    width: 20%;
}
.skill_sql::before {
    background-image: url(/img/sql-svgrepo-com.svg);
    background-repeat: no-repeat;
}
.skills::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--light_col);
    z-index: -1;
}
.skills::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--dark_col);
    z-index: -1;
}
.cuvi {
    width: 100%;
    background: linear-gradient(var(--light_col), var(--dark_col));
}
.cuvi h2 {
    text-align: center;
    margin: 0;
    padding-top: 2vw;
}
.cv {
    display: flex;
    justify-content: center;
    padding-bottom: 2vh;
}
.cv_details {
    padding: 2vw 6vw;
}
.cv_details h2 {
    color: black;
}
.cv li {
    padding: 2vh 2vw;
    font-size: 20px;
}

footer {
    background: var(--dark_col);
    font-size: 20px;
    text-align: center;
    border-top: 1px solid black;
    padding: 10px;
}
.footer_nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
footer li {
    list-style-type: none;
}
footer a {
    display: block;
    padding: 1vw 2vw 1vw 0;
    color: black;
}
.contact {
    z-index: 100;
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.contact:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    margin: 7vw auto;
    padding: 2vw;
    background: var(--light_col);
    border-radius: 5px;
    width: 30%;
    position: fixed;
    top: 100px;
    right: 600px;
    transition: all 5s ease-in-out;
}
.contact_details li {
    padding-left: 2vw;
    list-style-type: none;
    font-size: 24px;
}
.close {
    font-size: 48px;
    text-decoration: none;
    position: absolute;
    top: 0px;
    right: 10px;
}
@media (max-width: 1300px) {
    h1,
    h2 {
        margin: 20px 0;
    }
    .header_img {
        width: 80px;
    }
    .intro_img {
        width: 400px;
        margin: 20px 0;
    }
    .intro_text {
        padding: 0;
    }
    .intro_text h2 {
        padding: 0;
    }
    .navi a {
        font-size: 24px;
    }
    .main_container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .project,
    .skills {
        width: 100%;
        overflow: hidden;
    }

    .project__item {
        padding-bottom: 20px;
    }
}
@media (max-width: 800px) {
    .intro {
        flex-direction: column;
        align-items: center;
    }
    .cv {
        flex-direction: column;
        align-items: center;
    }
    .navi {
        display: none;
    }

    .popup {
        right: 25vh;
        width: 50%;
    }
    header {
        flex-direction: column;
        align-items: center;
    }
    .header_img {
        width: 50px;
        align-self: flex-start;
    }
}
